default:
    suites:
        web:
            contexts:
                - FeatureContext
                - DoctrineContext:
                      entityManager: '@doctrine.orm.entity_manager'
                      passwordEncoder: "@security.user_password_encoder.generic"

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
        LeanPHP\Behat\CodeCoverage\Extension:
            drivers:
                - local
            filter:
                whitelist:
                    include:
                        directories:
                            'src': ~
            report:
                format:   html
                options:
                    target: web/coverage-behat
