{% extends 'base.html.twig' %}

{% block body %}
	<h1>Une erreur s'est produite</h1>
	<p>
		Un erreur nous empèche d'afficher correctement la page. Nous nous excusons pour la gène occasionnée.
		<a href="{{ path('homepage') }}">Retourner à la page d'accueil</a>.
	</p>
{% endblock %}
