{% extends 'base.html.twig' %}

{% block body %}
	<h1>404: Page non trouvée</h1>
	<p>
		La ressource est introuvable ou a été supprimée. 
		<a href="{{ path('homepage') }}">Retourner à la page d'accueil</a>.
	</p>
{% endblock %}
